body {
    background-color: black;
    background-attachment: fixed;
    color: white;
    font-family: 'Sora', sans-serif;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.7;
    z-index: 1;
}

#base {
    position: relative;
    z-index: 10;
}

.centrer {
    text-align: center;
}

.logo {
    height: auto;
    width: 15%;
    filter: drop-shadow(0.2rem 0.2rem 1rem black)
}

.label {
    padding-left: 8px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
}

.title {
    font-size: 4vw;
    font-family: 'Times New Roman', Times, serif;
    text-transform: uppercase;
    color: white;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
}

#def p {
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
    text-align: center;
}

.tag {
    font-size: 1vw;
    text-align: left;
}

.wiki img {
    width: 6%;
}

.social {
    animation: 3s fadeIn ease-out;
}

.social a {
    background-color: #ad32f2;
}

.copyright {
    font-size: 1vw;
    text-align: right;
}

.signature a {
    color: black;
    outline: none;
    font-size: 1.2vw;
    text-decoration: none;
    text-shadow: 0px 0px 2px rgba(255, 255, 255, 1);
}

@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

@media all and (min--moz-device-pixel-ratio:0) and (max-width: 575.98px){
    .wiki img {
        display: none;
    }

    .social a {
        font-size: 2.5vw;
    }
}